[core]
  editor = vim -c \"set fenc=utf-8\"
  excludesfile = ~/.gitignore
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[color]
  ui = auto
[push]
  default = tracking
[include]
  path = .gitconfig.local
